.container{
    position: relative;
    height: 90vh;
    width: 100vw;
    background-color:#fffaf3;
}
.sticker{
    height: 80vh;
    border-bottom-left-radius: 100vw;
    border-bottom-right-radius: 100vw;
    background-image: url(b.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.s-content{
    position: absolute;
    width: 70vw;
    bottom: 8vh;
    left: 15vw;
    color: aliceblue;
    text-align: center;
}
.s-content h1{
    font-size: 10vw;
    font-weight: 600;
}
.s-content h6{
    font-size: 6vw;
    font-weight: 100;
}

.s-content button{
    margin-top: 2vw;
    padding: 1.9vw 6vw 1.9vw 6vw;
    font-size: 4vw;
    border-radius: 4vw;
    border: none;
    color: aliceblue;
    background-color: #15425c;
}

.s-content button:hover{
    background-color: #03567f;
    border: 1px solid black;
}
@media (min-width: 680px){
   .container{
    display: none;
   }
}