.regg {
    align-items: center;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: initial;
    font-size: 1vw;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
  }
  .box2,
  .regg {
    display: flex;
  }
  .box2 {
    background-color: #fff;
    color: #000;
    flex-direction: column;
    gap: 1em;
    justify-content: space-around;
    padding: 1em;
    position: relative;
    border-radius: 1em;
  }
  .box2 h1 {
    font-size: 2em;
    text-align: center;
  }
  .box2 input {
    padding: 0.3em;
  }
  .box2 input,
  .box2 label {
    font-size: 1em;
  }
  #category label {
    margin-right: 1em;
  }
  #category label input[type=radio] {
    border: 0px;
    height: 1em;
  }
  #check input[type=checkbox] {
    border: 0px;
    height: 1em;
  }
  

  #password-field {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #SubmitBtn {
    background-color: #000;
    border-radius: 1em;
    color: #fff;
    font-size: 1em;
    padding: 0.4em;
  }
  #SubmitBtn:hover {
    background-color: #59b762;
    border: none;
    font-weight: 600;
  }
  .box-image{
    position: absolute;
    right: 5%;
    top: 14%;
    width: 10em;
    height: 14em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.box-image img{
    width: 7em;
    height: 8em;
    border-radius: 48%;
    object-fit: cover;
    background: #dfdfdf;
}
#to-upload{
    display: none;
}

#profile{
    width: 7em;
    padding: 0.1em 0.2em;
    font-size: 0.9em;
    border: 1px solid rgb(70, 18, 118);
    border-radius: 0.3em;
    cursor: pointer;
    text-align: center;
}
  @media (max-width: 680px) {
    .regg {
      font-size: 3vw;
    }
  }