
.Quote{
    width: 100vw;
    height: auto;
    font-size: 1.2vw;
    padding: 4vw;
    background-image: url(pexelsphoto3452072.jpeg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}