.User {
    align-items: center;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: initial;
    display: flex;
    font-size: 1vw;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 999;
  }
  #closemenu2 {
    position: absolute;
    right: 2%;
    top: 2%;
    font-size: 1.5em;
  }
  .User-box {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
    padding: 1em;
    position: relative;
  }
  .User-box label {
    font-size: 1em;
  }
  .User-box h1 {
    font-size: 2em;
    text-align: center;
  }
  .User-box input {
    font-size: 0.8em;
    padding: 0.3em;
  }
  #checkbox {
    width: 1em;
  }
  @media (max-width: 680px) {
    .User {
      font-size: 3vw;
    }
  }