.page6 img{
    width: 50vw;
    height: 100vh;
}
.page6 {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    background-color: #f3f3f3;
}
#contact{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
font-size: 3vw;
}
#contact div{
    margin-left: 10vw;
}
