.App{
    background-color:pink;
    color: rgb(21, 22, 22);
    display:flex;
    align-items:center;
    justify-content:center;
    width: 100vw;
    height: 100vh;
    
}

.page1{
    background-image: url(pg1.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.blur-background{
    filter:blur(2px);
}